{% load static %}
<footer class="footer-bg footer-p" style="background-image:url({% static 'client_plugins/img/footer_bg_img.jpg' %});background-size: cover;">
          
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12 col-lg-12 col-sm-12 text-center">
                    <div class="footer-widget pt-120 mb-30">
                        <div class="logo mb-35">
                            <a href="#"><img src="{% static 'client_plugins/img/footer_logo.png' %}" alt="logo"></a>
                        </div>
                        <div class="footer-text mb-20">
                            <p>The issue with any content strategy is time. Time to sit down and think about what kind of content should be created, time to stop and write, or record, edit and publish, and time to engage with your audience to promote the content you created.</p>
                        </div>
                        <div class="footer-social">                                    
                            <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="mailto:support@eVents.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="copyright-wrap pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">						
                    <div class="copyright-text text-center">
                        <div class="footer-link">
                            <ul>
                                <li><a href="/">Home</a></li>                             
                                <li><a href="/club">Club</a></li>
                                <li><a href="/event">Event</a></li>
                                <li><a href="/venue">Venue</a></li>
                                <li><a href="/who-we-are">Who we are?</a></li>
                                <li><a href="/contactus">Contact</a></li>
                            </ul>
                        </div>                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>