{% load static %}
<!-- header -->
<header id="home" class="header-area">
    <div id="header-sticky" class="menu-area">
        <div class="container">
            <div class="second-menu">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="/"
                                ><img
                                    src="{% static 'client_plugins/img/logo/logo.png' %}"
                                    alt="logo"
                            /></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="responsive">
                            <i class="icon dripicons-align-right"></i>
                        </div>
                        <div class="main-menu text-center text-xl-center pr-50">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="/club">Club</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="/event">Event</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="/venue">Venue</a>
                                    </li>
                                    <li>
                                        <a href="/who-we-are">Who we are?</a>
                                    </li>
                                    <li>
                                        <a href="/contactus">Contact Us</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="has-sub">
                                        <a href="#"
                                            >Hello,
                                            {{request.user.first_name}}</a
                                        >
                                        <ul>
                                            <li>
                                                <a href="/club/form"
                                                    >Create Your Own Club!</a
                                                >
                                            </li>
                                            <li>
                                                <a href="{% url 'logout' %} "
                                                    >Log out</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li class="has-sub">
                                        <a href="#">Account</a>
                                        <ul>
                                            <li>
                                                <a href="{% url 'login' %}"
                                                    >Log in</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="{% url 'registration' %}"
                                                    >Register</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
