{% extends 'client/master.html' %}
{% block main-content %}

    <!-- about-area -->
    <section id="about" class="about-area about-p pt-120 pb-120 p-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="wow fadeInLeft" data-animation="fadeInLeft" data-delay=".2s">
                        <img src="img/venue_img.png" alt="shape">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content s-about-content pl-30">
                        <div class="about-title second-atitle">
                        <div class="text-outline">
                                <span>Venue</span>
                            </div>
                            <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">CONFERENCE HALL</span>
                            <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Brighton Water Front Hotel, US</h2>
                            <h5 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Shift your perspective on digital business</h5>
                        </div>
                        <p>Study in a newly-refreshed campus located in the heart of Berlin, Europe's start-up capital. Berlin is a fantastic place to study as there are excellent travel connections and a reasonable cost of living.</p>
                    
                       <a href="#" class="mt-20">www.epicexample.com</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->
    <!-- team-area -->
    <section id="team" class="portfolio-area p-relative pt-120 pb-120 fix">
        <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal"><h2>Event</h2></div>				
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-80">
                        <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">gallery</span>
                        <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Hall Showcase</h2>
                    </div>
                </div>
            </div>
            <div class="row grid">
                    <div class="col-lg-3 col-sm-6 grid-item">
                        <div class="portfolio">
                            <img src="img/gallery_1.jpg" alt="gallery_1" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 grid-item">
                        <div class="portfolio">
                            <img src="img/gallery_2.jpg" alt="gallery_1" />
                        </div>
                    </div>
                    <div class="col-lg-6 grid-item">
                        <div class="portfolio">
                            <img src="img/gallery_4.jpg" alt="gallery_1" />
                        </div>
                    </div>
                    <div class="col-lg-6 grid-item">
                        <div class="portfolio">
                            <img src="img/gallery_3.jpg" alt="gallery_1" />
                        </div>
                    </div>

            </div>
        </div>
    </section>
    <!-- team-area-end -->
    <!-- pricing-area -->
    <section id="pricing" class="pricing-area pt-113 pb-90 fix" style="background-image:url(img/pricing_bg.jpg);background-size: cover;">
    <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal"><h2>Plans</h2></div>
     <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-80">
                        <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Our plans</span>
                        <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".4s">Get Your Ticket</h2>
                    </div>
                </div>
            </div>
        <div class="container">
           
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box text-center mb-30 wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="pricing-head">                                    
                            <h4>early bird</h4>
                            <div class="price-count mb-30">
                                <h2><small>$</small>200</h2>
                            </div>
                        </div>
                        <div class="pricing-body mb-40">
                            <p>Time to sit down and think about what kind of content should be created, time to stop.</p>
                              <strong>All prices exclude 25% VAT</strong>
                              <div class="bar">
                                <span style="width:50%;"></span>
                              </div>
                                <div class="bar-no">350/500</div>
                            <div class="pricing-btn mt-40">
                                <a href="#" class="btn"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box active text-center mb-30 wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="tag">Exclusive author</div>
                        <div class="pricing-head">                                   
                            <h4>Gold</h4>
                            <div class="price-count mb-30">
                                <h2><small>$</small>399</h2>
                            </div>
                        </div>
                        <div class="pricing-body mb-40">
                            <p>Time to sit down and think about what kind of content should be created, time to stop.</p>
                              <strong>All prices exclude 25% VAT</strong>
                              <div class="bar">
                                <span style="width:50%;"></span>
                              </div>
                              <div class="bar-no">350/500</div>
                            <div class="pricing-btn mt-40">
                                <a href="#" class="btn"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box text-center mb-30 wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="pricing-head">                                    
                            <h4>Platinum</h4>
                            <div class="price-count mb-30">
                                <h2><small>$</small>499</h2>
                            </div>
                        </div>
                        <div class="pricing-body">
                           <p>Time to sit down and think about what kind of content should be created, time to stop.</p>
                           <strong>All prices exclude 25% VAT</strong>
                           <div class="bar">
                                <span style="width:50%;"></span>
                              </div>
                               <div class="bar-no">350/500</div>
                            <div class="pricing-btn mt-40">
                                <a href="#" class="btn"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-area-end -->
    <!-- Sponsors-area -->
    <section class="sponsors services-bg pt-113 fix">
        <div class="container">
            <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal"><h2>Sponsors</h2></div>
     <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title mb-80">
                        <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Sponsors</span>
                        <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Happy Sponsors</h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 text-right">
                    <a href="#" class="btn wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <ul class="wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <li><a href="#"><img src="img/sponsors_1.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_2.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_3.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_4.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_5.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_6.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_7.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_8.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/sponsors_9.png" alt="img"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="s-video-wrap wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s" style="background-image:url(img/video_bg.png)">
                        <div class="s-video-content mb-80">
                            <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="popup-video mb-50"><i class="fas fa-play"></i></a>
                            <h2>Intro Video</h2>
                            <p>The issue with any content strategy is time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sponsors-area-end -->
   
    <!-- blog-area -->
    <section id="blog" class="blog-area p-relative fix pt-100 pb-80">
     
        <div class="container">
          <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal"><h2>News</h2></div>
     <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title mb-80">
                        <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">feeds</span>
                        <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">News Feeds</h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 text-right">
                   
                </div>
            </div>
            <div class="row blog-active2 wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                <div class="col-lg-4 col-md-6">
                    <div class="single-post mb-30">
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img src="img/blog_img_1.jpg" alt="img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="b-meta mb-20">
                            <ul>
                                <li><i class="far fa-comments"></i>35 Comments</li>
                                <li><a href="#"><i class="far fa-user"></i>by Admin</a></li>
                            </ul>
                            </div>
                            <h4><a href="blog-details.html">The issue with any content strategy is time.</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisi
                            cing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-post active mb-30">
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img src="img/blog_img_2.jpg" alt="img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="b-meta mb-20">
                            <ul>
                                <li><i class="far fa-comments"></i>35 Comments</li>
                                <li><a href="#"><i class="far fa-user"></i>by Admin</a></li>
                            </ul>
                            </div>
                            <h4><a href="blog-details.html">Time to sit down and think about what kind of content</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisi
                            cing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-post mb-30">
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img src="img/blog_img_3.jpg" alt="img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="b-meta mb-20">
                              <ul>
                                <li><i class="far fa-comments"></i>35 Comments</li>
                                <li><a href="#"><i class="far fa-user"></i>by Admin</a></li>
                            </ul>
                            </div>
                            <h4><a href="blog-details.html">Should be created, time to stop and write, or record.</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisi
                            cing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-post mb-30">
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img src="img/blog_img_2.jpg" alt="img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="b-meta mb-20">
                              <ul>
                                <li><a href="#"><i class="far fa-user"></i>by Admin</a></li>
                                <li><i class="far fa-comments"></i>35 Comments</li>
                            </ul>
                            </div>
                            <h4><a href="blog-details.html">User Experience Psychology And Performance Smashing</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisi
                            cing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area-end -->

{% endblock main-content %}
    