{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui"
        />
        <title>Calendar | eVentes</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App Icons -->
        <link
            rel="shortcut icon"
            href="{% static 'admin_plugins/images/favicon.png' %}"
        />
        <!--calendar css-->
        <link
            href="{% static 'admin_plugins/plugins/fullcalendar/css/fullcalendar.min.css' %}"
            rel="stylesheet"
        />
        <!-- App css -->
        <link
            href="{% static 'admin_plugins/css/bootstrap.min.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'admin_plugins/css/icons.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'admin_plugins/css/style.css' %}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        {% include 'admin/header.html' %}
        <!-- End Navigation Bar-->
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Calendar</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">Event</a>
                                    </li>
                                    <li
                                        class="breadcrumb-item active"
                                        aria-current="page"
                                    >
                                        Calendar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
        </div>
        </div>
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="calendar"></div>
                                <div style="clear: both;"></div>
                                <div id="data" hidden>{{events}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

        <!-- jQuery  -->
        <script src="{% static 'admin_plugins/js/jquery.min.js' %}"></script>
        <script src="{% static 'admin_plugins/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'admin_plugins/js/modernizr.min.js' %}"></script>
        <script src="{% static 'admin_plugins/js/waves.js' %}"></script>
        <script src="{% static 'admin_plugins/js/jquery.slimscroll.js' %}"></script>
        <!-- Jquery-Ui -->
        <script src="{% static 'admin_plugins/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'admin_plugins/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'admin_plugins/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
        <script>
            var events = eval($("#data").text());
            var end = events[0].end
            end = end.split('-')
            end[2] = "" + (+end[2] + 1) 
            end = end.join('-')
            events[0].end = end
            $(document).ready(function () {
                $("#calendar").fullCalendar({
                    header: {
                        left: "prev,next today",
                        center: "title",
                        right: "month,basicWeek,basicDay",
                    },
                    editable: !0,
                    eventLimit: !0,
                    droppable: !0,
                    events: events,
                });
            });
        </script>
        <!-- App js -->
        <script src="{% static 'admin_plugins/js/app.js' %}"></script>
    </body>
</html>
