{% load static %}
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>
<div class="header-bg">
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                <!-- Logo-->
                <div class="d-block d-lg-none mr-5"><a href="/admin/" class="logo"><img src="{% static 'admin_plugins/images/favicon.png' %}" alt="" height="28" class="logo-small"></a></div>
                <!-- End Logo-->
                <div class="menu-extras topbar-custom navbar p-0">
                    <ul class="list-inline flags-dropdown d-none d-lg-block mb-0">
                        <li class="list-inline-item text-white-50 mr-3"><span class="font-13">Help : +91 7874 987 797</span></li>
                    </ul>
                    <!-- Search input -->
                    <div class="search-wrap" id="search-wrap">
                        <div class="search-bar"><input class="search-input" type="search" placeholder="Search"> <a href="#" class="close-search toggle-search" data-target="#search-wrap"><i class="mdi mdi-close-circle"></i></a></div>
                    </div>
                    <ul class="list-inline ml-auto mb-0">
                        <!-- notification-->
                        <li class="list-inline-item dropdown notification-list"><a class="nav-link waves-effect toggle-search" href="#" data-target="#search-wrap"><i class="mdi mdi-magnify noti-icon"></i></a></li>
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="mdi mdi-bell-outline noti-icon"></i> <span class="badge badge-info badge-pill noti-icon-badge">3</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-arrow dropdown-menu-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5>Notification (3)</h5>
                                </div>
                                <div class="slimscroll-noti">
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                                        <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-filter-outline"></i></div>
                                        <p class="notify-details"><b>Your item is shipped</b><span class="text-muted">It is a long established fact that a reader will</span></p>
                                    </a>
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                                        <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                </div>
                                <!-- All--> <a href="javascript:void(0);" class="dropdown-item notify-all">View All</a>
                            </div>
                        </li>
                        <!-- User-->
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="{% static 'admin_plugins/images/users/avatar-6.jpg' %}" alt="user" class="rounded-circle"> <span class="d-none d-md-inline-block ml-1">{{admin_data.AdminUserName}} <i class="mdi mdi-chevron-down"></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a> 
                                <a class="dropdown-item" href="#"><span class="badge badge-success float-right m-t-5">5</span>
                                <i class="dripicons-gear text-muted"></i> Settings</a> <a class="dropdown-item" href="#">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i>Logout</a>
                            </div>
                        </li>
                        <li class="menu-item list-inline-item">
                            <!-- Mobile menu toggle--> 
                            <a class="navbar-toggle nav-link">
                                <div class="lines"><span></span> <span></span> <span></span></div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>
                    </ul>
                </div>
                <!-- end menu-extras -->
                <div class="clearfix"></div>
            </div>
            <!-- end container -->
        </div>
        <!-- end topbar-main --><!-- MENU Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <!-- Logo-->
                <div class="d-none d-lg-block">
                    <!-- Text Logo
                        <a href="index.html" class="logo">
                            Foxia
                        </a>
                         --><!-- Image Logo --> 
                    <a href="/admin/" class="logo">
                        <!-- <img src="{% static 'admin_plugins/images/logo-sm.png' %}" alt="" height="22" class="logo-small"> --> <img src="{% static 'admin_plugins/images/logo.png' %}" alt="" height="20" class="logo-large">
                    </a>
                </div>
                <!-- End Logo-->
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu"><a href="/admin/"><i class="dripicons-meter"></i>Dashboard</a></li>
                        <li class="has-submenu">
                            <a href="/admin/college/"><i class="mdi mdi-city"></i>College<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="#"><strong>Department</strong></a></li>
                                        <li><a href="/admin/department/add/">Add department</a></li>
                                        <li><a href="/admin/department/">View department</a></li>

                                        <li><a href="#"><strong>Sub department</strong></a></li>
                                        <li><a href="/admin/subdepartment/add/">Add sub department</a></li>
                                        <li><a href="/admin/subdepartment/">View sub department</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="#"><strong>Venue</strong></a></li>
                                        <li><a href="/admin/venue/add/">Add venue</a></li>
                                        <li><a href="/admin/venue/">View venue</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="has-submenu">
                            <a href="/admin/department/"><i class="mdi mdi-account-network"></i>Department<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                
                            </ul>
                        </li> -->
                        <li class="has-submenu">
                            <a href="/admin/employee/"><i class="dripicons-user"></i>Employee<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/admin/employee/add/">Add employee</a></li>
                                <li><a href="/admin/employee/">View employee</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/admin/student/"><i class="ti-user"></i>Student<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/admin/student/add/">Add student</a></li>
                                <li><a href="/admin/student/">View student</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/admin/club/"><i class="ti-crown"></i>Club<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/admin/club/add/">Add club</a></li>
                                <li><a href="/admin/club/">View club</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/admin/event/"><i class="mdi mdi-calendar-clock"></i>Event<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/admin/event/add/">Add event</a></li>
                                <li><a href="/admin/event/">View event</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/admin/achievement/"><i class="dripicons-trophy"></i>Achievement<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/admin/achievement/add/">Add achievement</a></li>
                                <li><a href="/admin/achievement/">View achievement</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->
    </header>